.sidebar {
    background-color: white;
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0;
    width: 73px;
    padding-top: 4px;
    z-index: 2;
}
.sidebar-link {
    height: 75px;
    
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Arial;
    font-size: 10px;
}
.sidebar-link:hover {
    background-color: rgb(238, 238, 238);
}
.sidebar-link img {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
}

